
#wrapper{
	background:url('blackjack.jpg');
	background-repeat: no-repeat;
	background-size:cover;
	height:1000px;
}

#player{
	    position: absolute;
    top: 658px;
    left: 867px;
}

#dealer{
	    position: absolute;
    left: 850px;
    top: 115px;
}

#start{
	 position: absolute;
    top: 986px;
    left: 814px;
    cursor: pointer;
    opacity: 0;
}

#hit,#stand {
	display:none;
	  }

.individualCard{
	border:1px solid black;
	height: 145px;
	width:100px;
	display:inline-block;
	position:relative;
	background:#fff;

	   }

.individualCard:after{
	content:attr( data-value );
	position: absolute;
	bottom: 17px;
	right:1px;
	   }

	.individualCard:before{
	  content: attr( data-value );
    position: absolute;
    top: 37px;
    left: 38%;
    font-size: 3rem;
	   }

	.suit{
	   display:block;
	   }

	.card-reverse{
		position: absolute;
   	bottom: 1px;
    right: 2px;
    transform: rotate(180deg);
	   }

	   .animate{

	   	animation-name:test;
	   	animation-duration:1s;
	       transform: translateX(1px);
	       
	           background: #fff;
	   }


.dealer{
	background:red;
	color:red !important;
}

.dealerTotal{
display:none;



}

	   @keyframes test{

		from{
			transform:translate(517px,-463px)
		}

		to{
			    transform: translateX(1px);
		}

	   }